<header id="header">
  <nav class="nav" id="nav_principal">
    <a routerLink="/" fragment="inicio"><p>INICIO</p></a>
    <a routerLink="/" fragment="sobre"><p>SOBRE</p></a>
    <a routerLink="/" fragment="historia"><p>HISTORIA</p></a>
    <a routerLink="/" fragment="personagens"><p>PERSONAGENS</p></a>
    <a routerLink="/" fragment="jogo"><p>JOGO</p></a>
    <a routerLink="/" fragment="desenvolvedor"><p>DESENVOLVEDOR</p></a>
    <a routerLink="/auth/login"><p id="entrar">ENTRAR</p></a>
  </nav>
</header>
