<section id="pagina_mongrel" class="mongrel-intro">
  <div class="header-container">
    <div class="column-1" data-aos="fade-right" data-aos-duration="1000">
      <div class="titulo">
        <p id="logo_letra"><span>Shadow Slave</span></p>
        <p><span id="sombras">A Jornada das Sombras</span></p>
      </div>

      <div class="sub-titulo">
        <p id="texto_sombras">
          Entre o medo, a honra e a sobrevivência, a escuridão escolhe quem merece.
        </p>
      </div>

      <button type="button" class="link_saber_mais" (click)="onSaberMais()">
        <span id="saber_mais">Saber mais</span>
      </button>
    </div>

    <div class="column-2">
      <div class="mongrel moving-head"></div>
    </div>
  </div>
</section>
